* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-snap-align: start;
}



nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 1.3rem;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    border:  3px double black;
    font-weight: bold;
}
button:hover {
    background-color: white;
    color: black;
    border:  3px solid black;
    transition:ease-in .3s;
    
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
    margin: 30px;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    gap:  20px;
}

.hero--photo {
    max-width: 80vw;
    align-self: center;
    height: 80vh;
}

.hero--header {
    margin-bottom: 16px;
    font-size: 1.8rem;
}

.hero--text {
    margin-top: 0;
    font-size: 1.3rem;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    margin-top: 50px;
}

.card {
    width: 420px;
    font-size: 1.2rem;
    flex: 0 0 auto;
    align-items: center;         
    display: flex;          
    flex-direction: column; 
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    border-radius: 15px;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
    color: white;
}

.card:hover .card--badge {
    background-color: rgba(0, 0, 0, 0.6);
    
}

.card--image {
    width: 400px;
    height: 280px;
    border-radius: 9px;
    margin-bottom: 18px;
}


.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2px;
}

.card--star {
    height: 20px;
    padding-bottom: 3px;
}


.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    padding:5px;
    border-radius: 10px;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

  /* Modal Container */
.modal-content {
    width: 50vw;
    height: 100dvh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    z-index: 10000;
}
.modal-image {
    width:100%;
    height: 100%;
    border-radius: 10px;
}
.modal-details{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.close-btn {
position: absolute;
top: 10px;
right: 10px;
}
.modal-buy {
    width:  50%;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    
    .hero {
        height: 70vh;
    }
    .hero--photo {
            max-width: 80vw;
            align-self: center;
            height: auto;
    }
    
    .hero--header {
        font-size: 1.5rem;
    }
    

    .hero--text {
        font-size: 1.2rem;
    }

    .cards-list {
        margin: 25px;        
        gap: 0px;
    }
    .card {
        width: 280px;
        font-size: 0.9rem;
        
    }

    .card--image {
        width: 250px;
        height: 230px;
        border-radius: 9px;
        margin-bottom: 18px;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:  100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }
    
      /* Modal Container */
    .modal-content {
        width: 85vw;
        height: 92dvh;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding: 20px;
    }
    .modal-image {
        width:100%;
        
    }
    .modal-details{
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
    }
}